* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
}

body {
    color: #C2C2C2;
    background-color: #212121;

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-color: #1A1A1A;
    min-width: 50vw;
    min-height: 50vh;

    border-radius: 10px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 100px;
    color: #FFFFFF;
}

button {
    background-color: #D7BA7D;

    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #212121;

    cursor: pointer;
}

.botao-resetar {
    width: 100px;
}